<html>
  <head><title>Practice VueJs</title></head>

<body>
  <div id= "theroot" align ="center">
      <h1> {{greeting}}</h1> 
      <input  v-model ="greeting"> <br><br>
      <div v-if= "count===1"> Green</div>
      <div v-else-if= "count===2"> White</div>
      <div v-else= "count===3"> Black</div>
      <div v-show= "count ===4"> Orange</div>
      <div align = "left"> 
        <!--    {{email}} --> 
        <!--  render once the static html and teh same value -->
        <p v-once>{{email}}

        </p>

        <p v-html="email">
          <!--  parses as html and also can type the html -->

        </p>
        <br> 
        <input v-model ="email" :class="[email.length < 5 ? 'red':'green']"> <br><br>
        <button onclick="alert('Enter the value')" :disabled="email.length < 5" :class='{button: email.length > 5}'>
          <!--     :disabled html function -->
          Submit
        </button>
      </div>
      <!-- Adding into the array using add button by creating a new empty array and createadd function called addNew -->
      <div>
        {{modify}}
        <br> <br>
        <input v-model ="newPets" @keyup.enter="addNew">
        <!--     v-on is very common so cand be used at @ in vueJS -->
        <button v-on:click="addNew">
          Add
        </button>
        <!--      for loop  -->
         <ul>
         <li v-for="petAnimal in petAnimals">{{ petAnimal.name|capitalize| kitify }}</li>
         </ul>
      </div>
      <!--  filters for updating the dom and and another method is computed -->
       <ul>
       
       <li v-for="petAnimal in petAnimals">{{cat.name}}</li>
       </ul>
  </div>

</body>

</html>
